body
  padding: 10px
  background-color: none
  background: url('/images/textures/wild_oliva.png') repeat

.canvas
  display: block
  width: 100%

input:invalid, textarea:invalid
  box-shadow: 0 0px 2px rgba(220, 13, 23, 0.5)

header
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)
  a
    transition: all 0.2s ease-out
    text-decoration: none
    &:default
      text-decoration: none
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)
      transition: all 0.2s ease-out

footer p > span
  padding: 20px

activities h2, observations h2, conditions h2, chart h2
  border-bottom: 1px solid #eee
  font-style: italic

aside#sidebar > section, activities > section, observations > section
  /*margin: 0 0px;
  padding: 8px
  column-gap: 5px
  border-radius: 8px
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)
  background-color: none
  background: url('/images/textures/crossword.png') repeat

.highlight
  background: rgba(230, 230, 0, 0.5)

@media (max-width: 768px)
  .tagline
    display: none

table.table tbody tr
  &.selected
    background-color: #a7c6d8
    transition: all 0.2s ease-out
  transition: all 0.2s ease-out
  &:hover:not(.selected)
    background-color: #c7e6f8
    transition: all 0.2s ease-out

h4
  border-bottom: 1px solid #ccc
  /*text-decoration: underline;

.horizTimeLine
  white-space: nowrap
  overflow-x: scroll
  padding: 30px 0 10px 0
  position: relative
  width: 100%
  direction: rtl

.encounterBox
  display: inline-block
  direction: rtl
  vertical-align: top
  white-space: normal
  background: #9DA8b0
  color: black
  font-size: 12px
  text-align: center
  position: relative
  border-top: 4px solid #3D4850
  border-radius: 15px
  min-width: 200px
  max-width: 200px
  img
    display: block
    max-width: 100%
    height: auto
    margin-bottom: 10px
  &:after
    content: ''
    display: block
    background: #eee
    width: 15px
    height: 15px
    border-radius: 20px
    border: 3px solid #06182E
    position: absolute
    left: 50%
    top: -30px
    margin-left: -9px
  &:before
    content: ''
    display: block
    background: #06182E
    width: 5px
    height: 20px
    position: absolute
    left: 50%
    top: -20px
    margin-left: -4px
  h1
    color: black
    font-size: 18px
    padding: 0px
    font-weight: bold
  h2
    font-weight: bolder
    font-size: 12px
    margin: 2px
  &:hover
    background: #8D979E
    cursor: pointer

.encounterBar
  height: 4px
  background: #9DA8b0
  width: 100%
  position: relative
  top: 13px
  left: 0

.chart
    display: block
    width: 100%
