.horizTimeLine
  white-space: nowrap
  padding: 30px 0 10px 0
  position: relative
  width: 100%
  direction: rtl
  margin-bottom: 10px

.displayBox
  direction: rtl
  vertical-align: top
  text-align: center
  white-space: normal
  border: 1px solid black;
  min-width: 180px
  max-width: 180px
  p
    font-size: 12px
    margin: 2px
  h2
    font-weight: bolder
    font-size: 12px
    margin: 2px

.chart
    display: block
    width: 100%
