.timeline
  max-height: 125px
  min-height: 125px

.horizTimeLine
  white-space: nowrap
  padding: 30px 0 10px 0
  position: relative
  width: 100%
  direction: rtl
  margin-bottom: 10px

.node
  float: right
  width: 22px
  height: 22px
  border: 1px solid black
  background-color: white
  border-radius: 5px
  top: 20px

.displayBox
  direction: rtl
  vertical-align: top
  text-align: center
  white-space: normal
  border: 1px solid black
  min-width: 180px
  max-width: 180px
  min-height: 70px
  max-height: 70px
  overflow: hidden
  p
    font-size: 12px
    margin: 2px
  h2
    font-weight: bolder
    font-size: 12px
    margin: 2px

.chart
    display: block
    width: 100%
