
<ul id="main_list">
  <li *ngFor="let entry of forms; let i = index">
    <!-- CREATE FORM TEMPLATES HERE-->
    <div *ngIf="entry.type == 'checkbox_inline'">
      <checkbox-inline [inputData]="formInput[i]" #form=""> </checkbox-inline>
    </div>
    <div *ngIf="entry.type == 'box1'">
      <normal-box-1 [inputData]="formInput[i]" #form=""> </normal-box-1>
    </div>
    <div *ngIf="entry.type == 'box2'">
      <normal-box-2 [inputData]="formInput[i]" #form=""> </normal-box-2>
    </div>
    <div *ngIf="entry.type == 'list'">
      <select-list-single [inputData]="formInput[i]" #form=""></select-list-single>
    </div>
    <div *ngIf="entry.type == 's-update'">
      <scratchpad-update [inputData]="formInput[i]" #form=""></scratchpad-update>
    </div>
  </li>
  <button class="btn btn-default" type="button" (click)="submitClick()"> Submit </button>
</ul>