<style>
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: grey;
}

.flex-item {
    background-color: white;
    height: 100px;
    margin: 10px;
	margin-bottom: 0px;
}
.patientInfoBox{
	display: inline-block;
	width: 20%;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.whole-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
}
.actionBar{
    width: 15%;
    margin-right: 5px;
}
.patientBody{
    width: 85%;
}
.doctorSearch{
    border: 2px solid #ccc;
    border-radius: 5px;
    align-self: center;
}
</style>
<div class="whole-container">
<aside class="actionBar">
    <div class="left" style="background-color: white; border: 15px; padding: 7px; border-radius: 10px;">
        <header style="text-align: center; margin-bottom: 10px"><font size="6.5" style="text-decoration: underline;">Action Area</font></header>
            <div style="text-align: center; margin-botton: 50px;">
                <font size="4"> Search </font>
                <input class="doctorSearch" style="margin-bottom: 5px;">
                <select class="form-control" style="margin-bottom: 15px;">
                    <option> Let doctor choose what he/she types searches? </option>
                    <option> Could be patients? </option>
                    <option> Or something like past images on this patient? </option>
                </select>
            </div>
            <div style="margin-bottom: 15px; text-align: center;">
                <font size="3">Order Labs</font>
                <select class="form-control" style="">
                    <option> Different types of labs? </option>
                    <option> Different types of labs? </option>
                    <option> Different types of labs? </option>
                </select>
            </div>
            <div style="text-align: center;">
                <font size="3"><span class="glyphicon glyphicon-fire"></span> Provider </font>
				<select class="form-control" id="server_select" (change)="selectServerForUrl($event.target.value)">
					<option *ngFor="let s of servers" [value]="s.url" [selected]="server && (s.url == server.url)">{{s.name}}</option>
				</select>
            </div>
    </div>
</aside>

<div class="patientBody">
	<aside id="sidebar" class="div" *ngIf="patients">
		<section>
			<div class="flex-container" style="margin-bottom: 5px;">
                <div class="patientInfoBox" style="width:7.5%">
                    <img src="app/images/textures/me.jpg" class="img-thumbnail" style="width:100px;height:90px;">

                </div>
				<div class="patientInfoBox" style="width: 25%;">
					<label><span class="glyphicon glyphicon-user"></span> Patient</label>

					<select class="form-control" id="patient_select" (change)="select($event.target.value)">
					<option *ngFor="let p of patients" [value]="p.id" [selected]="patient && (p.id == patient.id)">
						<span *ngIf="p.name && p.name[0].given">{{p.name[0].given[0]}}</span>
						<span *ngIf="p.name && p.name[0].family">{{p.name[0].family[0]}}</span>
					</option>
				</select>
                    <section *ngIf="selected">
                        <small>
						<div class="identifier" *ngFor="let id of selected.identifier">
                            <b>{{-1 * (selected.birthDate | amDifference:today:'years':false)}}-year-old {{selected.gender}}</b> born {{selected.birthDate | amDateFormat:'LL'}}.
                            <p>
                            <b *ngIf="id['type'] && id['type']['coding']">{{id['type']['coding'][0]['display']}}</b>
							<i>({{id['value']}})</i>
                        </p>
						</div>
                    </small>
					</section>
				</div>
				<div class="patientInfoBox">
					<section *ngIf="selected">
						<h4> Patient Vital Signs </h4>
                        <div id="patient_vitals">

                        </div>
					</section>
				</div>
			</div>

            <div class="encounterBar"></div>
            <timelines [patient]="selected"></timelines>
			<!-- Tab panes -->
			<table align="center" style="column-gap: 10px;">
				<colgroup>
				<col style="width:25%">
				<col style="width:40%">
				<col style="width:25%">
			</colgroup>
				<th><conditions (conditionSelected)="observations.updateHighlighted($event)" [patient]="selected"></conditions></th>
				<th><observations [patient]="selected" #observations></observations></th>
				<th><activities [patient]="selected"></activities></th>
			</table>
		</section>
		</aside>
</div>
</div>
