<style>
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: grey;
}

.flex-item {
    background-color: white;
    height: 100px;
    margin: 10px;
	margin-bottom: 0px;
}
.patientInfoBox{
	display: inline-block;
	width: 20%;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.whole-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
}
.actionBar{
    width: 15%;
    margin-right: 5px;
}
.patientBody{
    width: 85%;
}
.doctorSearch{
    border: 2px solid #ccc;
    border-radius: 5px;
    align-self: center;
}
</style>

<div class="whole-container">
<aside class="actionBar">
    <actionList></actionList>
</aside>

<div class="patientBody">
	<aside id="sidebar" class="div" *ngIf="patients">
		<section>
            <input style="width: 50%; height: 100%;">
            <div class="patientInfoBox">
            <section *ngIf="selected">
                    <h4> Patient Vital Signs </h4>
                    <div id="patient_vitals"></div>
            </section>
            </div>
            <div class="encounterBar"></div>
            <timelines [patient]="selected"></timelines>
			<!-- Tab panes -->
			<table align="center" style="column-gap: 10px; overflow: scroll; height: 1000px">
				<colgroup>
			        <col style="width:25%">
				    <col style="width:40%">
				    <col style="width:25%">
			    </colgroup>
                <th><conditions (conditionSelected)="obs.updateHighlighted($event)" [patient]="selected"></conditions></th>
                <th><observations [patient]="selected" #obs></observations></th>
                <th><activities [patient]="selected"></activities></th>
			</table>
		</section>
	</aside>
</div>
