
<div *ngFor="let cat of getData()">
  <div class="panel-heading">
    <h4 class="panel-title" [style.marginLeft.px]="getLevel()*20"><a data-toggle="collapse" href="#collapse{{cat.id}}"><span class="glyphicon glyphicon-triangle-bottom"></span>{{cat.display}} ({{cat.count}})</a></h4>
  </div>
  <div class="panel-collapse collapse" id="collapse{{cat.id}}">
    <table class="table table-condensed table-striped" *ngIf="cat.data" style="width:auto;" [style.marginLeft.px]="(getLevel()+1)*20">
      <tbody>
        <tr *ngFor="let o of cat.data" [class.selected]="o.highlighted">
          <td>
            <input type="checkbox" id="c{{o.code}}" value="{{o.code}}" [checked]="o.isSelected" (change)="checked(o,$event,cat.data.indexOf(o),cat.data)"/>
          </td>
          <td (click)="checked(o,$event,cat.data.indexOf(o),cat.data)"><span>{{o.name}}</span></td>
          <td (click)="checked(o,$event,cat.data.indexOf(o),cat.data)"><span>{{o.value}}</span></td>
          <td (click)="checked(o,$event,cat.data.indexOf(o),cat.data)"><span>{{o.date | amTimeAgo}}</span></td>
        </tr>
      </tbody>
    </table>
    <observationRecursion *ngIf="cat.child" [obs]="cat.child" [level]="getLevel()+1"></observationRecursion>
  </div>
</div>