
<div id="conditions" [style.height.px]="columnHeight">
  <div class="column-header">
    <div class="header text-center">
      <h2 style="display: inline-block;">Conditions</h2>
      <div style="display: inline-block;">
        <columnStateSwitcher [column]="this" [columnType]="'conditions'"></columnStateSwitcher>
      </div>
    </div>
  </div>
  <div class="column-content">
    <div *ngIf="columnState == 'default' && loaded">
      <accordionRecursion 
        [items]="conditions" 
        [columnType]="ColumnType.Conditions"
        [level]="0">
      </accordionRecursion>
    </div>
    <div *ngIf="!loaded">
      <loadingAnimation></loadingAnimation>
    </div>
    <div *ngIf="columnState == 'scratchpad'">
      <conditionsDisplay [conditions]="getScratchPadConditions()" [scratchPadMode]="true"></conditionsDisplay>
    </div>
  </div>
  <div id="condition-popover" style="display: none;">Testing condition popover</div>
  <contextMenu #menu=""></contextMenu>
</div>