
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>
        <input *ngIf="!scratchPadMode" type="checkbox" [checked]="isAllChecked" (change)="checkAllCarePlans($event.target.checked)"/>
      </th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cP of carePlans" [class.selected]="cP.selected" (click)="selectedCarePlan(cP)" (contextmenu)="menu.show(c, $event)" id="t{{carePlans.indexOf(cP)}}"> 
      <td>
        <input type="checkbox" id="cP{{carePlans.indexOf(cP)}}" [checked]="checkClicked(cP)"/>
      </td>
      <td><span>{{cP['title']}}</span></td>
      <td>{{cP.period.start}}</td>
      <td>{{cP.period.end}}</td>
    </tr>
  </tbody>
</table>
<contextMenu #menu=""></contextMenu>