<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>PatientViewer</title>
    <meta content="Patient record viewer for FHIR servers." name="description">
    <meta name="author" content="Preston Lee">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/timeline.css">
    <link rel="stylesheet" href="/css/ribbons.css">
    <script src="vendor.bundle.js" defer></script>
    <script src="main.bundle.js" defer></script>
  </head>
  <body class="#{yield(:body_class)}">
  </body>
</html>