
<div>
  <table class="table table-condensed table-striped" style="margin-left: 20px;">
    <thead>
      <tr>
        <th>
          <input *ngIf="!scratchPadMode" type="checkbox" [checked]="isAllChecked" (change)="checkAllObservations($event.target.checked)"/>
        </th>
        <th>Observation</th>
        <th>Value</th>
        <th>Unit</th>
        <th>Onset</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of observations" [class.selected]="o.selected" (click)="selectObservation(o)" (contextmenu)="menu.show(o, $event)" id="t{{observations.indexOf(o)}}" (mouseover)="hover.show([o['code']['coding'][0]['display']], $event)" (mouseleave)="hover.hide($event)">
        <td>
          <input *ngIf="!o.isParent" type="checkbox" [checked]="isObservationChecked(o)" id="o{{observations.indexOf(o)}}" (change)="checkObservation($event.target.checked, o)"/>
        </td>
        <td>
          <button class="btn btn-default" *ngIf="o.isParent" (click)="expand(o.parent)">... </button><span>{{Observation.getText(o)}}</span><span class="glyphicon glyphicon-fire" *ngIf="isObservationAssociated(o)" style="padding-left: 5px;"></span>
        </td>
        <td *ngIf="!o.isParent">{{Observation.getValue(o)}}</td>
        <td *ngIf="!o.isParent">{{Observation.getUnits(o)}}</td>
        <td *ngIf="!o.isParent">{{o.relativeDateTime | amTimeAgo:true}}</td>
      </tr>
    </tbody>
  </table>
</div>
<contextMenu #menu=""></contextMenu>
<hoverBox #hover=""></hoverBox>