
<div id="toolbar" (onDrag)="updatePosition($event)" (onDragStop)="updatePosition($event)">
  <div class="btn-group" *ngIf="!nav2">
    <button class="btn btn-default" title="Search"><span class="glyphicon glyphicon-search"></span></button>
    <button class="btn btn-default" (click)="switchNav()" title="Swap Navigation"><span class="glyphicon glyphicon-transfer"></span></button>
    <button class="btn btn-default" routerLink="/account" routerLinkActive="active" title="Settings"><span class="glyphicon glyphicon-cog"></span></button>
    <button class="btn btn-default" title="Association Tool" (click)="runAssociationsTool()"><span class="glyphicon glyphicon-link"></span></button>
    <button class="btn btn-default" routerLink="/trends" routerLinkActive="active" title="Historical Trends"><span class="glyphicon glyphicon-stats"></span></button>
    <button class="btn btn-default" title="Default View" (click)="resetToDefaultView()"><span class="glyphicon glyphicon-home"></span></button>
    <button class="btn btn-default" title="Scratch Pad" (click)="filterScratchPad()"> <span class="glyphicon glyphicon-filter"></span></button>
  </div>
  <div class="btn-group" *ngIf="nav2">
    <button class="btn btn-default btn2"><span class="glyphicon glyphicon-arrow-left"></span></button>
    <button class="btn btn-default" (click)="switchNav()"><span class="glyphicon glyphicon-home"></span></button>
    <button class="btn btn-default btn2"><span class="glyphicon glyphicon-arrow-right"></span></button>
    <button class="btn btn-default btn2"><span class="glyphicon glyphicon-repeat"> </span></button>
    <button class="btn btn-default btn2"><span class="glyphicon glyphicon-bookmark"></span></button>
    <button class="btn btn-default btn2"><span class="glyphicon glyphicon-hourglass"> </span></button>
    <button class="btn btn-default btn2"><span class="glyphicon glyphicon-flash"></span></button>
    <button class="btn btn-default btn2"><span class="glyphicon glyphicon-list-alt"> </span></button>
    <button class="btn btn-default btn2"><span class="glyphicon glyphicon-stats"></span></button>
  </div>
</div>