
<div style="float: left; width: 350px;">
  <div>
    <h4>
       Dashboard
      <button class="btn btn-default" routerLink="/">Back</button>
    </h4>
    <div style="overflow-y:auto; height:650px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" href="#c">Conditions</a></h4>
        </div>
        <div class="container collapse" id="c" style="width:auto;">
          <div class="panel-group">
            <div class="panel panel-default">
              <conditionsChart [patient]="patient"></conditionsChart>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" href="#o">Findings List</a></h4>
        </div>
        <div class="container collapse" id="o" style="width:auto;">
          <div class="panel-group" id="obs">
            <div class="panel panel-default" *ngIf="this.observationService.categorizedObservations">
              <observationRecursionChart [obs]="this.observationService.categorizedObservations.categories" [level]="0"></observationRecursionChart>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" href="#cp">Medications</a></h4>
        </div>
        <div class="container collapse" id="cp" style="width:auto;">
          <div class="panel-group">
            <div class="panel panel-default">
              <medications [patient]="patient"></medications>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="float:left; padding-left: 50px;">
  <div class="btn-group" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
    <button class="btn btn-default" (click)="resetDateRange()" style="width: 75px;">Fit All</button>
    <button class="btn btn-default" (click)="setDateRangeYears(25)" style="width: 75px;">25 Years</button>
    <button class="btn btn-default" (click)="setDateRangeYears(10)" style="width: 75px;">10 Years</button>
    <button class="btn btn-default" (click)="setDateRangeYears(5)" style="width: 75px;">5 Years</button>
    <button class="btn btn-default" (click)="setDateRangeYears(2)" style="width: 75px;">2 Years</button>
    <button class="btn btn-default" (click)="setDateRangeYears(1)" style="width: 75px;">1 Year</button>
    <button class="btn btn-default" (click)="setDateRangeMonths(6)" style="width: 75px;">6 Months</button>
    <button class="btn btn-default" (click)="setDateRangeMonths(3)" style="width: 75px;">3 Months</button>
    <button class="btn btn-default" (click)="setDateRangeMonths(1)" style="width: 75px;">1 Month</button>
    <button class="btn btn-default" data-toggle="modal" [attr.data-target]="'#specify_popup'" style="width: 75px;">
       Specify</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let chart of this.trendsService.charts; let i = index">
      <ngx-charts-line-chart [view]="chartSize" [results]="chart.lineChartData" [xAxis]="i == this.trendsService.charts.length - 1" [yAxis]="true" [showXAxisLabel]="false" [showYAxisLabel]="true" [xAxisLabel]="'Date'" [yAxisLabel]="chart.title" [xScaleMin]="minDate" [xScaleMax]="maxDate" [yScaleMin]="chart.yScaleMin" [yScaleMax]="chart.yScaleMax" [referenceLines]="chart.normalValues" [showRefLines]="true" [showGridLines]="false" (select)="onDataPointSelect($event)"></ngx-charts-line-chart>
    </li>
  </ul>
</div>
<contextMenu #menu=""></contextMenu>
<div style="clear: both;"></div>
<div class="modal fade" id="specify_popup" tabindex="-1" role="dialog">
  <div class="modal-lg modal-dialog" role="document">
    <div class="modal-lg modal-content" style="width: 450px; height: 125px;">
      <div class="modal-lg modal-header" style="width: 450px;">Specify start and end dates
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-lg modal-body" style="width: 445px; background-color:white;">
        <form #form="ngForm" (ngSubmit)="setDateRange(form.value)">
          <input id="minDate" type="date" name="minDate" ngModel=""/>
          <input id="maxDate" type="date" name="maxDate" ngModel=""/>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>