div("*ngIf" = "loadFinished")
    div("*ngFor" = "let cat of parsedData; let i = index")
        div.panel-heading
            h4.panel-title([style.marginLeft.px] = "levelNum * 20")
                a(data-toggle = 'collapse', href = "#collapse{{levelNum + '-' + i}}")
                    span.glyphicon.glyphicon-triangle-bottom
                    |   {{cat.category}}
        div.panel-collapse.collapse([style.margin-left.px] = "(levelNum + 1) * 20" id = "collapse{{levelNum + '-' + i}}")
            div("*ngIf" = "!cat.subheadings")
                div("*ngIf" = "columnNum == 0")
                    conditionsDisplay([conditions] = "cat.data")
                div("*ngIf" = "columnNum == 1")
                    div observations
                div("*ngIf" = "columnNum == 2")
                    div findings list
            div("*ngIf" = "cat.subheadings")
                accordionRecursion([levelData] = "subs", [columnNum] = "columnNum", [levelNum] = "levelNum + 1")


