style.
    .paddedtd {
      padding:10px 0;
    }
    .paddedtable {
      border-collapse: separate;
      border-spacing: 10px 0;
    }
.container-fluid
  .row
    .col-sm-5
      .well
        h2
          span
          |  John Smith
        form
          h3
            | General
          a
            | Change password
          h3
            | Event Timeline
          p
            | Time Scale:
            input(type="radio", value="linear", name="timeScale", checked="checked")
            | Linear
            input(type="radio", value="logarithmic", name="timeScale")
            | Logarithmic
          h3
            | Historical Trend
          p
            | Initial Timeframe:
          select
            option(value="6") 6 month
            option(value="12") 12 month
            option(value="18") 18 month
          h3
            | Problem List
          table.paddedtable
            tr
              td.paddedtd
                input(type='checkbox', name='setting1')
              td.paddedtd
                | Active Problems
              td.paddedtd
                input(type='checkbox', name='setting2')
              td.paddedtd
                | Allergies
            tr
              td.paddedtd
                input(type='checkbox', name='setting3')
              td.paddedtd
                | Inactive Problems
              td.paddedtd
                input(type='checkbox', name='setting4')
              td.paddedtd
                | Activities Due
          h3
            | Findings List
          table.paddedtable
            tr
              td.paddedtd
                input(type='checkbox', name='setting1')
              td.paddedtd
                | Abnormal Values
              td.paddedtd
                input(type='checkbox', name='setting2')
              td.paddedtd
                | All Values
            tr
              td.paddedtd
                input(type='checkbox', name='setting3')
              td.paddedtd
                | No Values
              td.paddedtd
                input(type='checkbox', name='setting4')
              td.paddedtd
                | Selected Values
          table(style="width:100%")
            tr("*ngFor"="let lab of electrolytes")
              td
                input(type='checkbox', name='{{lab}}')
              td
                | {{lab}}
          br
          table(style="width:50%")
            tr("*ngFor"="let lab of cholesteralBattery")
              td
                input(type='checkbox', name='{{lab}}')
              td
                | {{lab}}
          br      
          table(style="width:75%")
            tr("*ngFor"="let lab of liverFunction")
              td
                input(type='checkbox', name='{{lab}}')
              td
                | {{lab}}
          br      
          table(style="width:25%")
            tr("*ngFor"="let lab of kidneyFunction")
              td
                input(type='checkbox', name='{{lab}}')
              td
                | {{lab}}
                
                
                //input(type='checkbox', name='setting1', (change)='addSetting($event.target.checked,"185903001")')

          button.btn.btn-default((click)='saveSettings()') Save

    .col-sm-9

  calendar
