section("*ngIf"='patient')
    h2.pull-down
        // <span class="glyphicon glyphicon-ok-circle"></span>
        | Activities
    table.table.table-condensed.table-striped
        thead
            tr
                th
                    | Things to do in order to ensure the health of the patient.
        tbody
            td
                | Something
