div#carePlans(style="height: 500px; overflow-y: auto")
	.header.text-center
		h2(style="display: inline-block")
			| Care Plans
		div(style="display: inline-block")
			columnStateSwitcher([column]='this', [columnType]="'careplans'")
	accordionRecursion([levelData] = 'carePlans', [columnNum] = 2, [levelNum] = 0, [firstIteration] = 1)
