div#carePlans(style="height: 500px; overflow-y: auto")
	.header.text-center
		h2(style="display: inline-block")
			| Care Plans
		div(style="display: inline-block")
			columnStateSwitcher([column]='this')
	
	button.btn-primary(type="button", (contextmenu)='menu.show($event)')
		| Right Click Me
	
	contextMenu(#menu='')
			
	table.table.table-condensed.table-striped
		thead
			tr
				th
				th
					| Description
		tbody
			tr("*ngFor"='let cP of carePlans', id='t{{carePlans.indexOf(cP)}}') 
				td
					input(type='checkbox',id='cP{{carePlans.indexOf(cP)}}', value='{{cP["activity"][0]["detail"]["code"]["coding"][0]["display"]}}')
				td
					span {{cP["activity"][0]['detail']['code']['coding'][0]['display']}}
				//- td {{cP.clinicalStatus}}
				//- td {{cP.onsetDateTime}}
