
table.table.table-condensed.table-striped
	thead
		tr
			th
			th
				| Description
	tbody
		tr("*ngFor"='let cP of carePlans') 
			td
				input(type='checkbox', (change)='check(cP, $event)')
			td
				span {{cP['title']}}