table.table.table-condensed.table-striped
    thead
        tr
            th
            th
                | Description
    tbody
        tr("*ngFor"='let cP of carePlans', [class.selected] = 'cP.selected', (click)= 'selectedCarePlan(cP)', (contextmenu) = 'menu.show(c, $event)', id='t{{carePlans.indexOf(cP)}}') 
            td
                input(type='checkbox',id='cP{{carePlans.indexOf(cP)}}', [checked] = 'checkClicked(cP)' value='{{cP["activity"][0]["detail"]["code"]["coding"][0]["display"]}}')
            td
                span {{cP["activity"][0]['detail']['code']['coding'][0]['display']}}
            //- td {{cP.clinicalStatus}}
            //- td {{cP.onsetDateTime}}

contextMenu(#menu='')