// this shit was already here (needs testing)

table.table.table-condensed.table-striped
    thead
        tr
            th
            th
                | Description
    tbody
        tr("*ngFor"='let cP of carePlans', id='t{{carePlans.indexOf(cP)}}') 
            td
                input(type='checkbox',id='cP{{carePlans.indexOf(cP)}}', value='{{cP["activity"][0]["detail"]["code"]["coding"][0]["display"]}}')
            td
                span {{cP["activity"][0]['detail']['code']['coding'][0]['display']}}
            //- td {{cP.clinicalStatus}}
            //- td {{cP.onsetDateTime}}

p Care plan stuff goes here

contextMenu(#menu='')