
button((click)="reRenderData()")
div(style='display:block;')
    canvas(height="400px", width="400px", baseChart="", [datasets]="data", [labels]="labels", [options]="options", [legend]="legend", [chartType]="type")
