canvas.chart(width='400', height='400', datasets='lineChartData', labels='lineChartLabels', options='lineChartOptions', colors='lineChartColors', legend='lineChartLegend', chartType='line', (chartHover)='test($event)', (chartClick)='test($event)')
