// TODO Write js to automatically to the styling, shouldn't be super hard

#chartTimeline_popup.modal.fade(tabindex='-1', role='dialog')
    .modal-lg.modal-dialog(role='document')
        .modal-lg.modal-content(style="width: 975px;")
            .modal-lg.modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-lg.modal-body(style="background-color:white")
                section
                    div(style="height: 500px; width: 825px; overflow-y:auto")
                        canvas(id="canvas", width="800", [height] = "canvasHeight" )

            .modal-footer.modal-lg
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                            
