div(style="padding: 15px;")
    h2
        | Charts
div.btn-group
    button.btn.btn-default(data-toggle='collapse', data-target='#toggle') Toggle
    div.btn-group
        button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          | Charts
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href="#!")
              span Chart 1
          li
            a(href="#!")
              span Chart 2
    button.btn.btn-default((click)="reRenderData()") Render Data
//#toggle.collapse
    div(style='display:block')
        canvas(baseChart="", [datasets]="data", [labels]="labels", [options]="options", [legend]="legend", [chartType]="type")

div
    #toggle.collapse.in
        ngx-charts-line-chart([view]='view', [scheme]='colorScheme', [results]='multi', [gradient]='gradient', [xAxis]='showXAxis', [yAxis]='showYAxis', [legend]='showLegend', [showXAxisLabel]='showXAxisLabel', [showYAxisLabel]='showYAxisLabel', [xAxisLabel]='xAxisLabel', [yAxisLabel]='yAxisLabel', [autoScale]='autoScale')
