.text-center.column-state-switcher
  .btn-group
    button.btn.btn-default.btn-xs(title="Default", [class.active]='column.columnState == "default"', (click)='switchToDefault()')
      span(class="glyphicon glyphicon-home")
    
    button.btn.btn-default.btn-xs(title="Scratch Pad", [class.active]='column.columnState == "scratchpad"', (click)='switchToScratchPad()')
      span(class="glyphicon glyphicon-eye-open")
      span(class="badge column-state-badge") {{ getScratchPadCount() }}
