section("*ngIf"='patient')
    h2  Conditions
    p.text-default("*ngIf"='conditions.length == 0')
        i (none)
    table.table.table-condensed.table-striped("*ngIf"='conditions.length > 0')

        colgroup
            col(style='width:60%')
            col(style='width:15%')
            col(style='width:25%')
        thead
            tr
                th
                th
                    | Description
                th
                    | Status
                th
                    | Onset
        tbody
            tr("*ngFor"='let c of conditions', [class.selected]='c.selected', (click)='selectCondition(c)')
                td
                    input(type='checkbox', name='conditionsCheckbox')
                td
                    | {{c.code['text']}}
                    | [{{c.code['coding'][0]['code']}}]
                td {{c.clinicalStatus}}
                td {{c.onsetDateTime | amTimeAgo}}
div
    button((click)='testingCsiro()')
