
div#conditions([style.height.px]="columnHeight")
	.column-header
		.header.text-center
			h2(style="display: inline-block")
				| Conditions
			div(style="display: inline-block")
				columnStateSwitcher([column]='this', [columnType]="'conditions'")
				
	.column-content
		div("*ngIf" = 'columnState == "default" && loaded')
			accordionRecursion([levelData] = 'conditions', [columnNum] = 0, [levelNum] = 0, [firstIteration] = 1)
		div("*ngIf" = "!loaded")
			loading-animation

		div("*ngIf" = 'columnState == "scratchpad"')
			conditionsDisplay([conditions] = "getScratchPadConditions()")

	#condition-popover(style="display: none")
		| Testing condition popover
		
	contextMenu(#menu='')
