div
    table.table.table-condensed.table-striped(style = "margin-left: 20px")
        thead
            tr
                th
                    input("*ngIf"='!scratchPadMode', type='checkbox', [checked]='isAllChecked', (change)='checkAllConditions($event.target.checked)')
                th
                    | Description
                th
                    | Status
                th
                    | Onset
        tbody
            //-placeholders for showcase purposes
            tr("*ngFor"='let c of conditions', [class.selected]='c.selected', (click)='selectCondition(c)', (contextmenu)='menu.show(c, $event)', id='t{{conditions.indexOf(c)}}',
             (mouseover)='hover.show([getDateString(c), c.clinicalStatus, "Last change: May 19, 2013"], $event)', (mouseleave)='hover.hide($event)') 
                td
                    input("*ngIf"="!c.isParent", [checked] = 'isConditionChecked(c)' type='checkbox', id='c{{conditions.indexOf(c)}}', value='{{conditions.indexOf(c)}}', (change)='checkCondition(c, $event.target.checked)')
                td
                    button.btn.btn-default("*ngIf"="c.isParent", (click)='expand(c.parent)') ... 
                    span("*ngIf"="!c.isParent") {{c['code']['text']}} 
                    span("*ngIf"="isConditionAssociated(c)", class="glyphicon glyphicon-fire")
                td("*ngIf"="!c.isParent") {{c.clinicalStatus}}
                td("*ngIf"="!c.isParent") {{c.relativeDateTime | amTimeAgo:true}}

    
contextMenu(#menu='')
hoverBox(#hover='')