ul.dropdown-menu([style.position]="'fixed'", [style.display]="visible ? 'block' : 'none'", [style.left]='left', [style.top]='top')
  li
    a(href="#", (click)='hide($event)')
      | Action
  li
    a(href="#", (click)='hide($event)')
      | Action
