.row.header-row
  .col-md-3
    patient((patientSelected)="selectPatient($event)")
  .col-md-2
    toolbar
  .col-md-7
    timelines([patient]='selected', *ngIf='selected')

div.triple-list-container
  triplelist([patient]='selected', *ngIf='selected')

favorites
chartTimelines
addObservation
newCondition
