div([ngGrid]="gridConfiguration")
	patient((patientSelected)="selectPatient($event)")
	toolbar
	timelines([patient]='selected')
	//chart
	chartTimelines([observations]='observationReturned', #chart="")
	conditions([patient]='selected', (conditionSelected)='obs.updateHighlighted($event)', "*ngIf"='selected')
	observations([patient]='selected', #obs="", "*ngIf"='selected', (observationReturned)='chart.ngOnChanges()')
	//- activities([patient]='selected', "*ngIf"='selected')
