.row.header-row
  .col-md-3
    patient([patient]='selected', *ngIf='selected')
  .col-md-2
    toolbar
  .col-md-7
    timelines([patient]='selected', *ngIf='selected')

div.triple-list-container
  triplelist([patient]='selected', *ngIf='selected')

favorites
addObservation
newCondition
