div([ngGrid]="gridConfiguration")
	patient((patientSelected)="selectPatient($event)")
	toolbar
	timelines([patient]='selected', *ngIf='selected')
	triplelist([patient]='selected', *ngIf='selected')
chartTimelines
addObservation
