.row
  .col-md-2
    patient((patientSelected)="selectPatient($event)")
  .col-md-10
    timelines([patient]='selected', *ngIf='selected')

div.row
  triplelist([patient]='selected', *ngIf='selected')

favorites
chartTimelines
addObservation
newCondition
