ul.dropdown-menu([style.position]="'fixed'", 
                 [style.display]="visible ? 'block' : 'none'",
                 [style.left]='left',
                 [style.top]='top')
  li("*ngFor"="let item of items") 
    a(href="#", (click)='$event.preventDefault()')
        | {{item}}
