ul.dropdown-menu([style.position]="'fixed'", 
                 [style.display]="visible ? 'block' : 'none'",
                 [style.left]='left',
                 [style.top]='top')
  li("*ngFor"="let item of items") 
    a(href="#", (click)='$event.preventDefault()')
        span("*ngIf"="isMonth(item); else itemTemplate")
         | {{item}}
         | &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;

         span.glyphicon.glyphicon-list-alt
        ng-template(#itemTemplate = '') {{item}}
