extends layout/application
block content
    body
        app
    head
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js")
        script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
