table.table.table-condensed.table-striped
	thead
		tr
			th
			th
				| Name
	tbody
		tr("*ngFor"='let m of medications') 
			td
				input(type='checkbox', (change)='check(m, $event)')
			td
				span {{m.name}}