div(style='position: fixed; left: auto; top: 0; right: 0; bottom: 0; z-index: 999; padding-top: 10%')
    .btn-group-vertical
        button.btn.btn-default(title="sideNoteNav", (click)="toggleSideNote()")
            span(class="glyphicon glyphicon-earphone") 
        button.btn.btn-default(title="progressNoteNav", (click)="toggleProgressNote()")
            span(class="glyphicon glyphicon-earphone")
        button.btn.btn-default(title="finalNoteNav", (click)="toggleFinalNote()")
            span(class="glyphicon glyphicon-earphone")

#sideNote.sideNote(style='background: #D3D3D3; position: fixed; left: auto; top: 15%; right: 0; bottom: 0; width: 0; z-index: 9999; overflow-x: hidden; transition: .5s;')
    a.closebtn(href='javascript:void(0)', (click)='closeSideNote()', style='position: absolute; top: 0; left: 25px; font-size: 24px; margin-right: 50px;') &times;
    ul.side(style=' font-size: 18px; line-height: 3; font-weight: 400; padding-top: 50px; list-style: none;')
      li Side
      li Menu Item
      li Menu Item
      li Menu Item
      li Menu Item
      li Menu Item

#progressNote.progressNote(style='background: #D3D3D3; position: fixed; left: auto; top: 15%; right: 33%; bottom: 0; width: 0; z-index: 9999; overflow-x: hidden; transition: .5s;')
  a.closebtn(href='javascript:void(0)', (click)='closeProgressNote()', style='position: absolute; top: 0; left: 25px; font-size: 24px; margin-right: 50px;') &times;
  ul.side(style=' font-size: 18px; line-height: 3; font-weight: 400; padding-top: 50px; list-style: none;')
    li Progress
    li Menu Item
    li Menu Item
    li Menu Item
    li Menu Item
    li Menu Item

#finalNote.finalNote(style='background: #D3D3D3; position: fixed; left: auto; top: 15%; right: 67%; bottom: 0; width: 0; z-index: 9999; overflow-x: hidden; transition: .5s;')
  a.closebtn(href='javascript:void(0)', (click)='closeFinalNote()', style='position: absolute; top: 0; left: 25px; font-size: 24px; margin-right: 50px;') &times;
  ul.side(style=' font-size: 18px; line-height: 3; font-weight: 400; padding-top: 50px; list-style: none;')
    li Final
    li Menu Item
    li Menu Item
    li Menu Item
    li Menu Item
    li Menu Item
