div#conditions([style.height.px]="columnHeight")
  .column-header
    .header.text-center
      h2(style="display: inline-block")
        | Observations
      div(style="display: inline-block")
        columnStateSwitcher([column]='this', [columnType]="'observations'")

  .column-content
    div.container("*ngIf"='columnState == "default"' style="width:auto")
      div("*ngIf" = 'columnState == "default" && this.observationService.condensedObservationsLoadFinished')
        accordionRecursion([levelData] = 'this.observationService.condensedObservations', [columnNum] = 1, [levelNum] = 0, [firstIteration] = 1)
      div("*ngIf" = '!this.observationService.condensedObservationsLoadFinished')
        loading-animation

    div.container("*ngIf"='columnState == "scratchpad"' style="width:auto")
      observationsDisplay([observations] = 'this.scratchPadService.getObservations()')

  contextMenu(#menu='')
