h2
    // <span class="glyphicon glyphicon-eye-open"></span>
    | Observations
    button.btn.btn-default.btn-sm(data-toggle="modal", [attr.data-target]="'#newEntry'")
      span.glyphicon.glyphicon-plus
    
p.text-default("*ngIf"='this.observationService.observations.length == 0')
    i (none)

div.container(style="width:auto")
  div.panel-group
    div.panel.panel-default("*ngIf"='this.observationService.categorizedObservations')
      observationRecursion([obs]="this.observationService.categorizedObservations.categories",[level]=0)

.modal.fade(id="newEntry",role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        p Finding:
          input(type='text',id="model", name="finding", ngui-auto-complete, [(ngModel)]="model", list-formatter="name", [source]="arrayOfKeyValues", value-property-name="code", display-property-name="name", placeholder="Finding")
        p code: {{model.code}}

        p Value:
          input(type='text', name="quantity")
        button.btn.btn-default submit

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
