div
    table.table.table-condensed.table-striped(style = "margin-left: 20px")
        thead
            tr
                th
                    input("*ngIf"='!scratchPadMode', type='checkbox', [checked]='isAllChecked', (change)='checkAllObservations($event.target.checked)')
                th
                    | Observation
                th
                    | Value
                th
                    | Unit
                th
                    | Onset
        tbody
            tr("*ngFor"='let o of observations', [class.selected]='o.selected', (click)='selectObservation(o)', (contextmenu)='menu.show(o, $event)', id='t{{observations.indexOf(o)}}',
             (mouseover)="hover.show([o['code']['coding'][0]['display']], $event)", (mouseleave)='hover.hide($event)')
                td
                    input("*ngIf"="!o.isParent", type='checkbox', [checked] = 'isObservationChecked(o)', id='o{{observations.indexOf(o)}}', (change)='checkObservation($event.target.checked, o)')
                td
                    button.btn.btn-default("*ngIf"="o.isParent", (click)='expand(o.parent)') ... 
                    span {{Observation.getText(o)}}
                    span("*ngIf"="isObservationAssociated(o)", class="glyphicon glyphicon-fire", style="padding-left: 5px")
                td("*ngIf"="!o.isParent") {{Observation.getValue(o)}}
                td("*ngIf" = "!o.isParent") {{Observation.getUnits(o)}}
                td("*ngIf"="!o.isParent") {{o.relativeDateTime | amTimeAgo:true}}

contextMenu(#menu='')
hoverBox(#hover='')