h2
    // <span class="glyphicon glyphicon-eye-open"></span>
    | Observations
    button.btn.btn-default.btn-sm(data-toggle="modal", [attr.data-target]="'#newEntry'")
      span.glyphicon.glyphicon-plus
    
p.text-default("*ngIf"='this.observationService.observations.length == 0')
    i (none)

div.container(style="width:auto")
  div.panel-group
    div.panel.panel-default("*ngIf"='this.observationService.categorizedObservations')
      observationRecursion([obs]="this.observationService.categorizedObservations.categories",[level]=0)
