.header.text-center
  h2(style="display: inline-block")
    | Observations
  div(style="display: inline-block")
    columnStateSwitcher([column]='this')

div.container("*ngIf"='columnState == "default"' style="width:auto")
  div.panel-group(id="obs")
    div.panel.panel-default("*ngIf"='this.observationService.categorizedObservations')
      observationRecursion([obs]="this.observationService.categorizedObservations.categories",[level]=0)

div.container("*ngIf"='columnState == "scratchpad"' style="width:auto")
  div.panel-group(id="obs")
    div.panel.panel-default("*ngIf"='this.observationService.categorizedObservations' style = "padding: 10px")
      observationScratchPad