h3 Scratch Pad

table.table.table-condensed.table-striped
    thead
        tr
            th
                | 
            th
                | Description
            th
                | Status
            th
                | Onset
    tbody
        tr("*ngFor"='let c of getScratchPadServiceData()')
            td
                input("*ngIf"="!c.isParent",type='checkbox',id='c{{observations.indexOf(c)}}', value='{{observations.indexOf(c)}}', (change)='checkCondition($event.target.checked, c)')
            td {{c.name}}
            td {{c.value}}
            td {{c.date}}