.header.text-center
  h2(style="display: inline-block")
    | Observations
  div(style="display: inline-block")
    columnStateSwitcher([column]='this')

div.container(style="width:auto")
  div.panel-group(id="obs")
    div.panel.panel-default("*ngIf"='this.observationService.categorizedObservations')
      observationRecursion([obs]="this.observationService.categorizedObservations.categories",[level]=0)
