div#patient("[(ngGridItem)]"="gridItemConfiguration")
	.handle Patient Focus
		.box-header-btns.pull-right
			a(title="Remove widget")
				//- , (click)="removeWidget(i);")
				i.glyphicon.glyphicon-trash
	.content
		.details.pull-right("*ngIf"='selected')
			form#patient_selector
				.form-group
					select#patient_select.form-control((change)='select($event.target.value)')
						option("*ngFor"='let p of patients', "[value]"='p.id', [selected]='patient && (p.id == patient.id)')
							span("*ngIf"='p.name && p.name[0].family') {{p.name[0].family[0]}},&nbsp; <!-- added comma and space to order list by last name -->
							span("*ngIf"='p.name && p.name[0].given') {{p.name[0].given[0]}}
			.identifier("*ngFor"='let id of selected.identifier')
				b
					span("*ngIf"='selected.name && selected.name[0].given') {{selected.name[0].given[0]}}
					| &nbsp;
					span("*ngIf"='selected.name && selected.name[0].family') {{selected.name[0].family[0]}}
				div
					| Born: {{selected.birthDate | amDateFormat:'MM/DD/YYYY'}} ({{-1 * (selected.birthDate | amDifference:today:'years':false)}}yr)
				div Gender: {{selected.gender}}
				div MRN: {{id['value']}}
		img(src='/images/textures/me.jpg')

		#advanced_search
			a("(click)"="advancedSearch = !advancedSearch" href="#")
				span("*ngIf"="advancedSearch") basic
				span("*ngIf"="!advancedSearch") advanced
			form.form("*ngIf"="advancedSearch")
				.form-group
					label  Search
					input.form-control(type="search")
					select.form-control
						option  Search Options
						option  Could be patients?
						option  Or something like past images on this patient?
				.form-group
					label  Order Lab Test
					select.form-control
						option  Different types of labs
						option  Different types of labs
						option  Different types of labs
				.form-group
					label  Order Medication
					select.form-control
						option  Order Medication
				.form-group
					label  Schedule Follow-Up
					select.form-control
						option  Schedule Follow-Up
				.form-group
					label  Refer to Specialist
					select.form-control
						option  Refer to Specialist
				.form-group
					label  Order Procedure
					select.form-control
						option  Order Procedure
				.form-group
					label
						span.glyphicon.glyphicon-fire
						|  Provider
					select#server_select.form-control((change)='selectServerForUrl($event.target.value)')
						option("*ngFor"='let s of servers', "[value]"='s.url', [selected]='server && (s.url == server.url)') {{s.name}}
	nav(style="z-index: 1200;")
		button.btn.btn-default("*ngFor"='let s of graphConfig; let i = index')  Configuration {{i}} {{s}}
	//- | Testing

