button.btn.btn-default((click)="removeFromScratchPad()") Remove Selected Conditions
table.table.table-condensed.table-striped(id='condSP')
	tbody
		tr("*ngFor"='let c of currentDataArray',id='SP{{currentDataArray.indexOf(c)}}')
			td
				input(type='checkbox',id='condSP{{currentDataArray.indexOf(c)}}', value='{{currentDataArray.indexOf(c)}}', [checked] = 'c.isSelected', (change)='checked(c,$event,currentDataArray.indexOf(c),currentDataArray)')
			td((click)='checked(c,$event,currentDataArray.indexOf(c),currentDataArray)')
				span {{c.name}}
			td((click)='checked(c,$event,currentDataArray.indexOf(c),currentDataArray)')
				span {{c.date | amTimeAgo}}
