div.timeline
	.horizTimeLine("*ngIf"='patient')
		.div(style="width:100%; height:12px; background-color:#bfbfbf;")
			.div(style="float:left; width:95%")
				.node("*ngFor"="let e of encounters; let i = index", style="margin-left: 5%")
	.displayBox(id='c1', hidden=true)
	.displayBox(id='c2', hidden=true)
	.displayBox(id='c3', hidden=true)

timeline-popup([patient] = 'patient', #popup='')