div.container
  .row
    div.col-md-4.col-lg-4
      conditions([patient]='patient', *ngIf='passThrough')
    div.col-md-4.col-lg-4
      div.panel-group(id="accordion")
        div.panel.panel-default
          div.panel-heading
            h4.panel-title
              a(data-toggle="collapse" data-parent="#accordion" href="#o1")
                | Scratch Pad ({{obsCount}})
          div.panel-collapse.collapse(id="o1")
            div.panel-body
              scratchPad([dataSource]='this.observationService.selected', (totalUpdate) = "updateTotal($event)")
        div.panel.panel-default
          div.panel-heading
            h4.panel-title
              a(data-toggle="collapse" data-parent="#accordion" href="#o2")
                | Findings List
              button.btn.btn-default.btn-sm(data-toggle="modal", [attr.data-target]="'#newEntry'")
                span.glyphicon.glyphicon-plus
          div.panel-collapse.collapse.in(id="o2")
            div.panel-body
              observations([patient]='patient', #obs='', *ngIf='passThrough')
    div.col-md-4.col-lg-4
      carePlan([patient]='patient', *ngIf='passThrough')
