div([(ngGridItem)]='gridItemConfiguration')
  .row.col-lg-12
    div.col-md-4.col-lg-4
      conditions([patient]='patient', *ngIf='passThrough')
    div.col-md-4.col-lg-4
      observations([patient]='patient', #obs='', *ngIf='passThrough')