.form-group
  label.form_label  {{inputData.data.name}} 
  br
  .checkbox_container(*ngFor='let entry of inputData.data.checkbox; let i = index')
    label.checkbox-inline
      input.checkbox(type='checkbox', [(ngModel)]='checkboxData[i]', [value]='entry.description')
      p  {{entry.description}} 
    div
