
<div id="conditions" [style.height.px]="columnHeight">
  <div class="column-header">
    <div class="header text-center">
      <h2 style="display: inline-block;">Observations</h2>
      <div style="display: inline-block;">
        <columnStateSwitcher [column]="this" [columnType]="'observations'"></columnStateSwitcher>
      </div>
    </div>
  </div>
  <div class="column-content">
    <div class="container" *ngIf="columnState == &quot;default&quot;" style="width:auto;">
      <div *ngIf="columnState == &quot;default&quot; &amp;&amp; this.observationService.uniqueObservationsLoadFinished">
        <accordionRecursion 
          [items]="this.observationService.uniqueObservations"
          [columnType]="ColumnType.Observations"
          [level]="0">
        </accordionRecursion>
      </div>
      <div *ngIf="!this.observationService.uniqueObservationsLoadFinished">
        <loadingAnimation></loadingAnimation>
      </div>
    </div>
    <div class="container" *ngIf="columnState == &quot;scratchpad&quot;" style="width:auto;">
      <observationsDisplay [observations]="this.scratchPadService.getObservations()"></observationsDisplay>
    </div>
  </div>
  <contextMenu #menu=""></contextMenu>
</div>